@charset "UTF-8";

.col-3-left, .col-3-right {
	border: 0;
}

hr {
	border-width: 0;
}

body {
	color: #727272;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
}

#header {
	background-color: #FCB802;
	color: #fff;
	position: fixed;
	top: 0;
	min-height: 50px;
	width: 100%;
	padding: 7px 7px;
	z-index: 5;
	font-size: 2.33333em;
	font-weight: 200;
}

#navbar ul {
	list-style-type: none;
}

#navbar ul>li {
	float: left;
	display: inline;
	font-size: 16px;
	line-height: 2.0em;
	margin-right: 20px;
}
#navbar ul>li a{
	color: #fff;
}

#container {
	max-width: none;
	margin-top: 20px;
}

col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9,
	.col-10, .col-11, .col-12 {
	padding: 20px;
}

pre {
	border: 1px dotted #279ddd;
	background-color: #F6F6F6;
	color: #666666;
	padding: 10px;
	margin: 10px;
	overflow: auto;
}

.lead {
	font-size: 21px;
}

.sample-url {
	margin: 10px;
	border-left: 2px solid #FFCC00;
	padding-left: 10px;
}
/* Footer */
#footer1 {
	background: #323B44;
	border-bottom: 1px solid #414f5a;
	color: #A1A1A1;
	padding: 50px 0;
}

#footer2 {
	background: #25292C;
	color: #888;
	line-height: 30px;
	padding: 15px;
}

.section {
	background-color: #fff;
	color: #444;
	padding: 30px 100px;
}

.section {
	font-size: 16px;
}

.section  a .typcn {
	color: #DEDEFF;
}

.section .typcn {
	font-size: 7em;
	line-height: 1em;
}

.section h1 {
	color: #444;
	padding-top: 10%;
	font-size: 70px;
	text-align: center;
	padding-top: 10%;
	margin-bottom: 0;
}

.section-blue {
	background-color: #168ccc;
	color: #dedeff;
}

.section-gray {
	background-color: #eee;
	color: #000;
}

.section-blue h1, .section-blue h2 {
	color: #dedeff;
}

.pull-right {
	float: right;
	margin: 0 0 10px 10px;
}

#navbar {
	height: 40px;
	padding: 10px 100px;
	font-size: 28px;
}

.nav-title {
	float: left;
	padding-right: 20px;
	padding-left: 10px;
}

.nav-title a {
	color: #fff;
	text-decoration: none;
}

.menu {
	
}

.menu>li>a {
	color: #D5DFE7;
}

@media screen and (max-width: 768px) {
	.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9,
		.col-10, .col-11, .col-12 {
		padding: 0px;
	}
	.section {
		padding: 10px;
	}
	.section .col-12 p {
		text-align: left;
	}
	.section h1 {
		font-size: 34px;
	}
	.section h2 {
		font-size: 28px;
	}
	.lead {
		font-size: 16px;
	}
	#navbar {
		padding: 10px;
	}
	#container {
		padding-top: 30px;
	}
	.nav-title {
		font-size: 12px;
	}
}