@charset "UTF-8";

.col-3-left, .col-3-right {
	border: 0;
}

hr {
	border-width: 0;
}

body {
	color: #727272;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
}



#header {
    background: transparent;
    display: block;
    font-size: inherit;
    font-weight: inherit;
    padding: inherit;
}

#navbar ul {
	list-style-type: none;
}

#navbar ul>li {
	float: left;
	display: inline;
	font-size: 16px;
	line-height: 2.0em;
	margin-right: 20px;
}
#navbar ul>li a{
	color: #fff;
}

#imixs-servicenav {
    clear: both;
    padding: 10px 0 0 20px;
    text-align: left;
    font-size: 14px;
    background: #FCB802;
    border: 0px;
    margin: 0px 0 1px 0;
    border-bottom: 1px solid #FFF;
    border-top: 0px solid #FFFFFF;
    color: #FFF;
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    z-index: 5;
}
#imixs-servicenav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
#imixs-servicenav li {
	list-style: none;
	display: inline;
	margin: 0em 1em 0em 2em;
	padding: 0px;
	line-height: 18px;
}
#imixs-servicenav a {
	color: #524100;
}

#imixs-servicenav a .typcn {
	font-size:18px;
	line-height: 0.8em;
	margin-right: 5px;
	color: #666;
}
#imixs-header {
    float: left;
    width: 100%;
    margin: 0em;
    padding: 50px 10px 20px 30px;
    background-color: #FCB802;
}
#imixs-logo {
    float: left;
    background-image: url("logo.png");
    background-repeat: no-repeat;
    background-position: 15px 5px;
    height: 80px;
    width: 164px;
}
#imixs-branding {
    line-height: normal;
}
.imixs-brandingtext1 {
    border: 0 none;
    color: #FFFFFF;
    font-size: 34px;
    font-weight: bolder;
    padding: 0 0 0 5px;
    text-align: left;
    white-space: nowrap;
}
.imixs-brandingtext2 {
    border: 0 none;
    color: #80887b;
    font-size: 30px;
    font-weight: bolder;
    line-height: 36px;
    padding: 0 0 0 5px;
    text-align: left;
    white-space: nowrap;
}

.imixs-brandingtext3 {
    border: 0 none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: normal;
    padding: 0 0 0 7px;
    text-align: right;
    white-space: nowrap;
}

#container {
	max-width: none;
}

col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9,
	.col-10, .col-11, .col-12 {
	padding: 20px;
}

pre {
	border: 1px dotted #279ddd;
	background-color: #F6F6F6;
	color: #666666;
	padding: 10px;
	margin: 10px;
	overflow: auto;
}

.lead {
	font-size: 21px;
}

.sample-url {
	display: block;
	margin: 10px;
	border-left: 2px solid #FFCC00;
	padding-left: 10px;
}
/* Footer */
#footer1 {
	background: #323B44;
	border-bottom: 1px solid #414f5a;
	color: #A1A1A1;
	padding: 50px 0;
}

#footer2 {
	background: #25292C;
	color: #888;
	line-height: 30px;
	padding: 15px;
}

.section {
	background-color: #fff;
	color: #444;
	padding: 30px 100px;
}

.section {
	font-size: 16px;
}

.section  a .typcn {
	color: #DEDEFF;
}

.section .typcn {
	font-size: 7em;
	line-height: 1em;
}

.section h1 {
	color: #444;
	font-size: 34px;
}

.section h2 {
	color: #444;
	font-size: 28px;
}


.section-blue {
	background-color: #168ccc;
	color: #dedeff;
}

.section-gray {
	background-color: #eee;
	color: #000;
}

.section-blue h1, .section-blue h2 {
	color: #dedeff;
}

.pull-right {
	float: right;
	margin: 0 0 10px 10px;
}

#navbar {
	height: 40px;
	padding: 10px 100px;
	font-size: 28px;
}

.nav-title {
	float: left;
	padding-right: 20px;
	padding-left: 10px;
}

.nav-title a {
	color: #fff;
	text-decoration: none;
}

.menu {
	
}

.menu>li>a {
	color: #D5DFE7;
}

@media screen and (max-width: 768px) {
	.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9,
		.col-10, .col-11, .col-12 {
		padding: 0px;
	}
	.section {
		padding: 10px;
	}
	.section .col-12 p {
		text-align: left;
	}
	.section h1 {
		font-size: 34px;
	}
	.section h2 {
		font-size: 28px;
	}
	.lead {
		font-size: 16px;
	}
	#navbar {
		padding: 10px;
	}
	#container {
		padding-top: 30px;
	}
	.nav-title {
		font-size: 12px;
	}
}